div {
	background-color: white;
	.subheader-text {
		padding-inline: 30px;
		font-size: 14px;
		text-transform: uppercase;
		margin-block: 10px;
	}
	.tabs {
		opacity: 60%;
		color: #213f7d;
		&:hover {
			background: #39cdcc1a;
		}
	}
}
