@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

$primary: #fbfbfb;
$secondary: #545f7d;

html {
	background: $primary;
	body {
		color: $secondary;
		font-family: "Work Sans", sans-serif;
		.main-page {
			background-color: #fbfbfb;
		}
	}
}
:root {
	--background: #fbfbfb;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #fbfbfb;
		--foreground: #171717;
	}
}
